body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  vertical-align: middle;
}
body {
  background: rgba(116, 234, 221, 0.43);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  padding-top: 0.2rem;
  position: relative;
  background: #fff;
}
header img {
  width: 0.43rem;
}
header span {
  position: absolute;
  left: 45%;
  font-size: 0.28rem;
  font-weight: bold;
}
header a {
  font-size: 0.16rem;
  color: red;
  text-decoration: underline;
}
header a:nth-child(3) {
  animation-name: key;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes key {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  width: 90%;
  height: 0.8rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0.02rem 0.02rem 0px;
  border-radius: 0.2rem;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.nav img:nth-child(1) {
  width: 0.51rem;
}
.nav input {
  width: 80%;
  height: 80%;
  background: transparent;
  font-size: 0.22rem;
  border: none;
}
.nav img:nth-child(3) {
  width: 0.51rem;
}
.na {
  width: 100%;
}
.y_textyu {
  padding: 0.1rem 0.2rem 0 0.2rem;
}
.y_textyu p {
  font-size: 0.26rem;
  line-height: 0.4rem;
  margin-bottom: 0.1rem;
}
.y_textyu h5 {
  font-size: 0.28rem;
  color: #e51c23;
  margin: 0.2rem 0 0.2rem 0;
}
.y_inp {
  padding: 0.1rem 0.2rem 0 0.2rem;
}
.y_inp > input {
  width: 3rem;
  height: 0.4rem;
  font-size: 0.26rem;
  border-radius: 0.07rem;
  border: 0.015rem solid #d9d9d9;
  vertical-align: top;
  display: block;
  margin-bottom: 0.3rem;
}
.y_inp > div > select {
  width: 3rem;
  height: 0.4rem;
  font-size: 0.26rem;
  border-radius: 0.07rem;
  border: 0.015rem solid #d9d9d9;
  vertical-align: top;
  display: inline-block;
  color: #888;
}
.y_inp input[type="date"] {
  vertical-align: top;
  width: 3.3rem;
  height: 0.32rem;
}
.y_inp > p {
  vertical-align: top;
  font-size: 0.26rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.y_inp button {
  width: 1.2rem;
  height: 0.4rem;
  font-size: 0.26rem;
  float: right;
}
center h4 {
  padding-left: 0.2rem;
  text-align: left;
  font-size: 0.3rem;
}
.nd2 {
  width: 100%;
}
