html {
    background: #fff;
    color: #000;
}

body,
button,
dd,
div,
dl,
dt,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
input,
li,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font: 12px Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: inherit;
}

fieldset,
img {
    border: none;
    vertical-align: top;
}

em {
    font-style: normal;
    font-weight: 400;
}

ol,
ul {
    list-style: none;
}

th {
    text-align: left;
}

s {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #222;
}

/*清浮动*/
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html {
    transition: all 0.5s;
}


a:hover{
    color: #494fa2;
}
span:hover{
    color: #13a70f;
}
p:hover{
    color: #e06338;
}