footer{
    position: fixed;
    padding: 0.1rem 0;
    background-color: #d6d6d6;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.34rem;
}
.footer i{
    font-size: 0.36rem;
}
footer>div>a:hover{
    color: #163cff;
}
.foo-lan{
    color: #163cff;
}